{% load static %}

<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'manager/css/autorization.css' %}">
    <script src="{% static 'manager/js/sweetalert.js' %}"></script>
	<title>Авторизация</title>
</head>
<body>

	<form id="autorization-form" action="" method="POST">
		{% csrf_token %}
		<div class="autorization">

			<div class="autorization-form title">
				<p class="form-title">Авторизация</p>
			</div>


			<div class="autorization-form" id="email-container">
                <div class="input-block caption-block">
                    <p class="caption">E-mail</p>
                </div>
                <div class="input-block common-block">
                    <div class="autorization-image">
                        <img src="{% static 'manager/images/mail.png' %}" alt="Email Icon">
                    </div>
                    <div class="input-field">
                        <input class="input-field-style" type="text" name="email" id="email">
                    </div>
                </div>
            </div>

            <div class="autorization-form" id="password1-container">
                <div class="input-block caption-block">
                    <p class="caption">Пароль</p>
                </div>
                <div class="input-block common-block">
                    <div class="autorization-image">
                        <img src="{% static 'manager/images/password.png' %}" alt="Password Icon">
                    </div>
                    <div class="input-field">
                        <input class="input-field-style" type="password" name="password" id="password">
                    </div>
                </div>
            </div>


			<div class="autorization-form button">
				<button type="submit" class="autorization-form link">Войти</button>
			</div>

			<div class="create-recover-account">
				<a class="account-link" href="{% url 'registration_page' %}">
					<p class="account">Нет аккаунта</p>
				</a>
			</div>

			<div class="create-recover-account">
				<a class="account-link" href="">
					<p class="account">Забыл пароль?</p>
				</a>
			</div>

		</div>
	</form>
	<script src="{% static 'manager/js/autorization.js' %}"></script>
</body>
</html>