body {
	background: #007cb9;
	margin: 0px;
    padding: 0px;
    overflow: auto;
}

.registration {
	background: #005689;
	width: 550px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: auto;
    margin-left: auto;
    display: flex;
	flex-direction: column;
	box-shadow: 4px 6px 62px 19px rgba(213, 238, 255, 0.29);
	font-family: Tahoma, sans-serif;
}

.registration-form {
	height: 70px;
	width: 360px;
	display: flex;
	flex-direction: column;
	margin-right: auto;
    margin-left: auto;  
    overflow: hidden; 
    margin-bottom: 20px;
}

.registration-image {
	height: 53px;
	width: auto;
}

.input-block {
	display: flex;
	flex-direction: row;
}

.caption {
	font-size: 13px;
	color: #d5eeff;
	letter-spacing: 1px;
	margin: 0;
	padding-left: 5px;
}

.caption-block {
	margin-bottom: 5px;
}

img {
	height: 53px;
    width: auto;
    background: #ff895d;
}

.input-field-style {
	border: none;
	line-height: 51px;
	width: 307px;
	font-size: 20px;
}

.registration-form.button {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 0;
}

.registration-form.link {
	cursor: pointer;
	background: #fff;
	border: none;
	font-size: 20px;
	letter-spacing: 2px;
	color: #005689;
	margin-bottom: 0;
	display: inline-block;
	text-align: center;
}

.form-title {
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	margin-top: 0;
	color: #FFF;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

.account {
	font-size: 14px;
	color: #d5eeff;
	letter-spacing: 2px;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	cursor: pointer;
}

.account-link {
	margin-top: 20px;
	text-align: center; 
	text-decoration: none;
}

.registration-form.link:focus {
	box-shadow: inset 0px -49px 19px 13px rgba(000, 238, 255, 0.4);
}

.registration-form.title:hover {
	box-shadow: none;
}

.input-field-style:focus {
	outline: none;
}


.registration-form.button:hover {
	box-shadow:  0px 0px 38px 3px rgba(213, 238, 255, 0.3);
}

.account:hover {
	text-shadow: 0px 3px 10px rgba(213, 238, 255, 0.5);
}

input:hover {
	box-shadow: inset 0px -22px 23px rgba(213, 238, 255, 1);
}

.error-message {
    font-size: 12px;
    margin-top: 5px;
}

.error {
    border-color: red; /* Красная рамка вокруг поля с ошибкой */
    background-color: #ffe6e6; /* Легкий красный фон */
}